name: Deploy to VM

on:
  push:
    branches:
      - feature/devops-platform

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy application on Azure VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ 102.37.218.130 }}
          username: ${{ azureuser }}
          key: ${{ ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKkYf1vkTelxJc60wKMR2Oc4KejgJoe7PpiTDT3lDN1r }}
          script: |
            set -e

            cd ~/enterprise-devops-ml-platform

            git pull origin feature/devops-platform

            docker-compose down || true
            docker-compose build
            docker-compose up -d

